4-4.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2b2a29"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/lightgallery.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/uikit-rtl.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="fonts/lato/stylesheet.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>X-RAY VESTA</title>
  </head>
  <body>
    <!--div#preloader
    div#status
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
            path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
    -->
    <header>
      <div class="main-header">
        <div class="container">
          <div class="header"> 
            <div class="left-header"> <a class="logo" href="index.html"></a><a class="get-location" href="#">Как добраться?</a></div>
            <div class="right-header"> 
              <nav> 
                <div class="nav"> <a class="mobile-row-header" href="#">Модельный ряд</a><a class="stocks" href="#">Акции</a><a class="news" href="#">Новости</a><a class="test-drive" href="#">Тест-драйв</a></div>
                <div class="fixed-nav"><a class="mobile-row-header" href="#"> </a><a class="stocks" href="#"> </a><a class="news" href="#"> </a><a class="test-drive" href="#"> </a></div>
              </nav>
              <div><a class="drop-menu"> </a><a class="lang">Eng</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-burger">
        <div class="container">
          <div class="menuGrid">
            <div>
              <h2>Продажа </h2>
              <hr class="hrClass"/><a href="">Корпоративным клиентам</a><a href="">Финансовые услуги</a><a href="">Аксессуары</a>
            </div>
            <div>
              <h2>Сервис </h2>
              <hr class="hrClass"/><a href="">Акции сервиса</a><a href="">Гарантии</a><a href="">Услуги</a><a href="">Запасные части</a><a href="">Стандарты качества</a>
            </div>
            <div>
              <h2>Новости </h2>
              <hr class="hrClass"/><a href="">Пресс релизы</a><a href="">Подписка на рассылку</a>
            </div>
            <div>
              <h2>Компания </h2>
              <hr class="hrClass"/><a href="">О компании</a><a href="">Контакты</a><a href="">Карьера</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-mobile-row"> 
        <div class="container"> 
          <div class="menuGrid mobileRowGrid">
            <div><img src="../../../img/png/head-car1.png"/><a>
                <h2> Granta</h2></a>
              <hr class="hrClass"/><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a>
            </div>
            <div><img src="../../../img/png/head-car2.png"/><a href="vesta.html">
                <h2>Vesta  </h2></a>
              <hr class="hrClass"/><a href="inner.html">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta CNG</a><a href="">Vesta Sport</a>
            </div>
            <div><img src="../../../img/png/head-car3.png"/>
              <h2>XRAY  </h2>
              <hr class="hrClass"/><a href="">XRAY </a><a href="">XRAY Cross</a>
            </div>
            <div><img src="../../../img/png/head-car4.png"/><a href="">
                <h2>Largus  </h2></a>
              <hr class="hrClass"/><a href="">Largus универсал CNG</a><a href="">Largus Cross</a><a href="">Largus Cross CNG</a><a href="">Largus фургон</a><a href="">Largus фургон CNG</a>
            </div>
            <div><img src="../../../img/png/head-car5.png"/><a href="">
                <h2>4x4  </h2></a>
              <hr class="hrClass"/><a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a>
            </div>
            <div><img src="../../../img/png/head-car6.png"/><a href="concept.html">
                <h2>Концепты  </h2></a>
              <hr class="hrClass"/><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a>
            </div>
            <div><img src="../../../img/png/head-car7.png"/><a href="">
                <h2>Коммерческие  </h2></a>
              <hr class="hrClass"/><a href="">на базе Granta</a><a href="">на базе Largus</a><a href="">на базе 4x4</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="xray-content">
          <p>4x4 Vision Concept</p><img src="../../img/jpg/4x4.jpg"/>
        </div>
        <div class="design-description">
          <div>
            <p>Везде свой</p>
          </div>
          <div><span>Свобода без границ... Сталкиваясь с ежедневной городской рутиной, мы все больше стремимся вырваться из нее, чтобы познать настоящую природу и «дикую» сторону себя. Для нас уже не имеет значения, что мы будем делать – встречать рассвет в горах, путешествовать из Москвы во Владивосток, исследовать вулканы на Камчатке, смотреть закат на Байкале или просто любоваться звездным небом. На пути к неизведанному LADA 4х4 VISION органично смотрится и в потоке машин, движущихся по городским джунглям, и при преодолении глубоких бродов, и форсировании лесных и горных массивов. Для этого путешественника нет ничего невозможного!</span></div>
        </div>
      </div>
    </section>
    <section>
      <div class="parallax vision1"></div>
    </section>
    <section>
      <div class="container">
        <div class="design-description">
          <div>
            <p>Дизайн</p>
          </div>
          <div><span>Концепт-кар сразу обращает на себя внимание благодаря сочетанию атлетичных пропорций, харизматичного характера и впечатляющего дизайна. На LADA 4х4 VISION команда дизайнеров смогла вывести «ИКС-графику», являющуюся неотъемлемой частью ДНК Бренда, на новый уровень и перевести будущее моделей LADA на язык дизайна. Вертикальная передняя часть модели подчеркивается трехмерной черной глянцевой ИКС-образной решеткой радиатора. Ее экспрессивный внешний вид контрастирует с матовыми вставками, также выполненными в форме ИКС-графики. Два блестящих алюминиевых бумеранга оптически выделяют ДНК Бренда. Тонкие высокотехнологичные светодиодные фары вносят свой вклад в ИКС – дизайн и визуально перекликаются с решеткой радиатора. В рельефный капот гармонично интегрированы светодиодные указатели поворота, напоминая об общей родословной с легендарной LADA 4x4. Замысловатый световой ансамбль дополняют противотуманные фары, расположенные в нижней части переднего бампера. Широкая металлическая защитная накладка бампера безошибочно показывает истинный потенциал этого автомобиля. Элементы ИКС-графики перенесены и на боковые части кузова LADA 4х4 VISION, где они приобретают особую объемную трехмерную форму, превращая автомобиль в живое существо, демонстрирующее окружающим мощную игру мышц.</span></div>
        </div>
      </div>
    </section>
    <section>
      <div class="parallax vision2"></div>
    </section>
    <section>
      <div class="container">
        <div class="design-description">
          <div>
            <p>Экстерьер</p>
          </div>
          <div><span>В очередной раз, черпая вдохновение в образе автомобиля-легенды, длинные передние двери LADA 4х4 VISION зеркально отображают ИКС-образные формы, воплощенные в задней части автомобиля. Оптический мираж приводит к восприятию кузова трехдверным. Зрительно закамуфлированные задние двери предоставляют пассажирам достаточно места для прохода внутрь автомобиля и открываются в противоположную движению сторону. Кузов 4х4 лишен центральной стойки и несет в себе элементы купе. Матовые накладки в нижней части внедорожника выделяют внушительные колесные арки, вместе с накладками на пороги и молдингами они дополняют брутальный вид концепт-кара и работают на контрасте с кузовом матового бронзового цвета. Специально созданный цвет окраски автомобиля усиливает 3D эффекты игры света и тени на рельефном теле LADA 4х4 VISION.</span></div>
        </div>
      </div>
    </section>
    <section>
      <div class="big-salon-img">
        <div><img src="../../img/jpg/4_4salon.jpg"/></div>
        <div>
          <div><img src="../../img/jpg/4_4salon2.jpg"/></div>
          <div><img src="../../img/jpg/4_4salon3.jpg"/></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="design-description">
          <div></div>
          <div><span>21-дюймовые колеса придают концепт-кару спортивные пропорции и обеспечивают значительный дорожный просвет. Оригинальные 5-спицевые двухцветные диски поддерживают брутальный облик LADA 4х4 VISION. Большое панорамное стекло на крыше автомобиля дает дополнительный доступ солнечному свету, обеспечивая слияние между пассажирами и внешним миром. Дизайн задней части LADA 4х4 VISION отличается такими же мощными рельефными формами. Задний бампер и металлическая защитная накладка, горизонтально расположенные светодиодные фонари продолжают тему ИКС-графики. Верхняя и нижняя секции фонарей предназначены для габаритных и тормозных огней в то время, как поворотные сигналы скрыты в углублении. Задняя защитная накладка соседствует с двумя буксировочными крюками трапециевидной формы.</span></div>
        </div>
      </div>
    </section>
    <section>
      <div class="parallax vision3"></div>
    </section>
    <section>
      <div class="container">
        <div class="design-description">
          <div>
            <p>Комфорт</p>
          </div>
          <div><span>LADA 4х4 VISION создан на особой платформе длиной 4,2м. Выдающиеся показатели дорожного просвета, короткие свесы, экстремальные углы въезда и большие колеса усиливают геометрию настоящего внедорожника. Трансмиссия с широким набором высоких и низких коэффициентов, комбинация передовых внедорожных технологий и систем помощи обеспечивает концепт-кару непобедимый набор внедорожных способностей в своем сегменте. LADA 4х4 VISION является ярким примером высокотехнологичного автомобиля, обеспечивающего своих пассажиров полным набором цифровых систем для передвижения по бездорожью, которые дарят водителю совершенно новый опыт безопасного вождения в экстремальных условиях. 2 больших парящих цифровых экрана предоставляют водителю и пассажирам всю необходимую информацию. Расположенная за рулевым колесом основная комбинация приборов имеет ИКС-образную форму, информация передается при помощи легко считываемой графики. Центральный экран с набором он-лайн и оф-лайн сервисов помогает всем находящимся на борту с успехом преодолевать любые городские квесты. Атмосферная подсветка салона не только функциональна, она создает в салоне свой удивительный внутренний мир.</span></div>
        </div>
      </div>
    </section>
    <section>
      <div class="full"><img src="../../img/jpg/4_4banner.jpg"/></div>
    </section>
    <section>
      <div class="container">
        <div class="design-description">
          <div>
            <p>Интерьер</p>
          </div>
          <div><span>Двери в своем оформлении разделены на четыре секции: центральная горизонтально ориентированная обращена к приборной панели, на ней размещены музыкальные колонки, на задней в свою очередь расположены «парящие» складки подлокотников. Общее цветовое настроение в салоне поддерживается за счет сочетания оранжевой подсветки панели приборов и атмосферной подсветки такого же оттенка.Все сиденья имеют одинаковый оригинальный дизайн с яркой игрой фактур и материалов. Текстиль с эффектом 3D, экокожа и многослойный сетчатый текстиль дополнены подсвеченным декоративным орнаментом.С правой, противоположной, стороны от топливного бака расположена розетка 220V, предназначенная для зарядки любых электрических приборов при работающем автомобиле и закрытых и заблокированных центральным замком дверях. Эта функция еще больше расширяет границы возможностей LADA 4х4 VISION, делая ее приспособленной к любым приключениям.LADA 4х4 VISION смог уравновесить удивительный характер LADA 4x4 и новую генетическую принадлежность автомобилей Марки, умело соединить их с мощным, современным, скульптурно вылепленным дизайном автомобиля и искусно созданным высокотехнологичным внутрисалонным пространством.</span></div>
        </div>
      </div>
    </section>
    <section>
      <div class="parallax vision4"></div>
    </section>
    <section>
      <div class="photo-gallery">
        <div class="container">
          <p>Фотогалерея</p>
          <div class="gallery-img" id="thumbnials"><a href="../../img/jpg/vision1.jpg"><img src="../../img/jpg/vision1.jpg"/></a><a href="../../img/jpg/vision2.jpg"><img src="../../img/jpg/vision2.jpg"/></a><a href="../../img/jpg/vision3.jpg"><img src="../../img/jpg/vision3.jpg"/></a><a href="../../img/jpg/vision4.jpg"><img src="../../img/jpg/vision4.jpg"/></a><a href="../../img/jpg/vision5.jpg"><img src="../../img/jpg/vision5.jpg"/></a><a href="../../img/jpg/vision6.jpg"><img src="../../img/jpg/vision6.jpg"/></a><a href="../../img/jpg/vision7.jpg"><img src="../../img/jpg/vision7.jpg"/></a><a href="../../img/jpg/vision8.jpg"><img src="../../img/jpg/vision8.jpg"/></a><a href="../../img/jpg/vision9.jpg"><img src="../../img/jpg/vision9.jpg"/></a><a href="../../img/jpg/vision10.jpg"><img src="../../img/jpg/vision10.jpg"/></a><a href="../../img/jpg/vision11.jpg"><img src="../../img/jpg/vision11.jpg"/></a><a href="../../img/jpg/vision12.jpg"><img src="../../img/jpg/vision12.jpg"/></a></div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="more-box"><span> Узнайте больше о LADA 4x4 Vision Concept</span><a class="btn-more" href="">
            <p>подписаться</p><img src="../../img/png/more.png"/></a></div>
      </div>
    </section>
    <footer> 
      <div class="container">
        <div class="footer"> 
          <div class="right-footer">
            <div>
              <h3>Модельный ряд</h3>
              <hr class="hrClass"/>
              <div class="footer-links"><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a></div>
              <div class="footer-links"><a href="">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta Sport</a></div>
              <div class="footer-links">   <a href="">XRAY</a><a href="">XRAY Cross</a></div>
              <div class="footer-links">   <a href="">Largus универсал</a><a href="">Largus Cross</a><a href="">Largus фургон</a></div>
              <div class="footer-links">  <a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a></div>
              <div class="footer-links"><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a></div>
              <div class="footer-links"> <a href="">Концепты </a><a href="">Коммерческие автомобили</a><a href="">Модели. Архив</a></div>
            </div>
            <div> 
              <h3>Разделы сайта </h3>
              <hr class="hrClass"/>
              <div class="footer-links">   <a href="">Новости </a><a href="">Акции</a><a href="">Дилеры </a><a href="">LADA Finance </a><a href="">LADA Leasing</a><a href="">Тест-драйв</a><a href="">Аксессуары LADA </a><a href="">Задать вопрос</a><a href="">Дилеры</a></div>
            </div>
          </div>
          <div class="left-footer"> 
            <p>Клиентская служба LADA</p><a tel="tel:+9965555555">+996 (555) 55-55-55</a>
            <div class="social-icons"> <a class="vk" href="" target="_blank"></a><a class="fb" href="" target="_blank"></a><a class="tw" href="" target="_blank"></a><a class="insta" href="" target="_blank"></a><a class="youtube" href="" target="_blank"></a><a class="ok" href="" target="_blank"></a></div>
            <p>Правовая информация</p>
            <p>* - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 300,
          offset: 100,
          duration: 500,
      });
    </script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/4-4.pug
extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="X-RAY VESTA"
block content
    section
        .container
            .xray-content
                p 4x4 Vision Concept
                img(src='../../img/jpg/4x4.jpg')
            .design-description
                div
                    p Везде свой
                div
                    span Свобода без границ... Сталкиваясь с ежедневной городской рутиной, мы все больше стремимся вырваться из нее, чтобы познать настоящую природу и «дикую» сторону себя. Для нас уже не имеет значения, что мы будем делать – встречать рассвет в горах, путешествовать из Москвы во Владивосток, исследовать вулканы на Камчатке, смотреть закат на Байкале или просто любоваться звездным небом. На пути к неизведанному LADA 4х4 VISION органично смотрится и в потоке машин, движущихся по городским джунглям, и при преодолении глубоких бродов, и форсировании лесных и горных массивов. Для этого путешественника нет ничего невозможного!
    section
        .parallax.vision1
    section
        .container
            .design-description
                div
                    p Дизайн
                div
                    span Концепт-кар сразу обращает на себя внимание благодаря сочетанию атлетичных пропорций, харизматичного характера и впечатляющего дизайна. На LADA 4х4 VISION команда дизайнеров смогла вывести «ИКС-графику», являющуюся неотъемлемой частью ДНК Бренда, на новый уровень и перевести будущее моделей LADA на язык дизайна. Вертикальная передняя часть модели подчеркивается трехмерной черной глянцевой ИКС-образной решеткой радиатора. Ее экспрессивный внешний вид контрастирует с матовыми вставками, также выполненными в форме ИКС-графики. Два блестящих алюминиевых бумеранга оптически выделяют ДНК Бренда. Тонкие высокотехнологичные светодиодные фары вносят свой вклад в ИКС – дизайн и визуально перекликаются с решеткой радиатора. В рельефный капот гармонично интегрированы светодиодные указатели поворота, напоминая об общей родословной с легендарной LADA 4x4. Замысловатый световой ансамбль дополняют противотуманные фары, расположенные в нижней части переднего бампера. Широкая металлическая защитная накладка бампера безошибочно показывает истинный потенциал этого автомобиля. Элементы ИКС-графики перенесены и на боковые части кузова LADA 4х4 VISION, где они приобретают особую объемную трехмерную форму, превращая автомобиль в живое существо, демонстрирующее окружающим мощную игру мышц.
    section
        .parallax.vision2
    section
        .container
            .design-description
                div
                    p Экстерьер
                div
                    span В очередной раз, черпая вдохновение в образе автомобиля-легенды, длинные передние двери LADA 4х4 VISION зеркально отображают ИКС-образные формы, воплощенные в задней части автомобиля. Оптический мираж приводит к восприятию кузова трехдверным. Зрительно закамуфлированные задние двери предоставляют пассажирам достаточно места для прохода внутрь автомобиля и открываются в противоположную движению сторону. Кузов 4х4 лишен центральной стойки и несет в себе элементы купе. Матовые накладки в нижней части внедорожника выделяют внушительные колесные арки, вместе с накладками на пороги и молдингами они дополняют брутальный вид концепт-кара и работают на контрасте с кузовом матового бронзового цвета. Специально созданный цвет окраски автомобиля усиливает 3D эффекты игры света и тени на рельефном теле LADA 4х4 VISION.
    section
        .big-salon-img
            div
            
                img(src='../../img/jpg/4_4salon.jpg')
            div
                div
                    img(src='../../img/jpg/4_4salon2.jpg')
                div
                    img(src='../../img/jpg/4_4salon3.jpg')
    section
        .container
            .design-description
                div
                div
                    span 21-дюймовые колеса придают концепт-кару спортивные пропорции и обеспечивают значительный дорожный просвет. Оригинальные 5-спицевые двухцветные диски поддерживают брутальный облик LADA 4х4 VISION. Большое панорамное стекло на крыше автомобиля дает дополнительный доступ солнечному свету, обеспечивая слияние между пассажирами и внешним миром. Дизайн задней части LADA 4х4 VISION отличается такими же мощными рельефными формами. Задний бампер и металлическая защитная накладка, горизонтально расположенные светодиодные фонари продолжают тему ИКС-графики. Верхняя и нижняя секции фонарей предназначены для габаритных и тормозных огней в то время, как поворотные сигналы скрыты в углублении. Задняя защитная накладка соседствует с двумя буксировочными крюками трапециевидной формы.
    section
        .parallax.vision3
    section
        .container
            .design-description
                div
                    p Комфорт
                div
                    span LADA 4х4 VISION создан на особой платформе длиной 4,2м. Выдающиеся показатели дорожного просвета, короткие свесы, экстремальные углы въезда и большие колеса усиливают геометрию настоящего внедорожника. Трансмиссия с широким набором высоких и низких коэффициентов, комбинация передовых внедорожных технологий и систем помощи обеспечивает концепт-кару непобедимый набор внедорожных способностей в своем сегменте. LADA 4х4 VISION является ярким примером высокотехнологичного автомобиля, обеспечивающего своих пассажиров полным набором цифровых систем для передвижения по бездорожью, которые дарят водителю совершенно новый опыт безопасного вождения в экстремальных условиях. 2 больших парящих цифровых экрана предоставляют водителю и пассажирам всю необходимую информацию. Расположенная за рулевым колесом основная комбинация приборов имеет ИКС-образную форму, информация передается при помощи легко считываемой графики. Центральный экран с набором он-лайн и оф-лайн сервисов помогает всем находящимся на борту с успехом преодолевать любые городские квесты. Атмосферная подсветка салона не только функциональна, она создает в салоне свой удивительный внутренний мир.
    section
        .full
            img(src='../../img/jpg/4_4banner.jpg')

    section
        .container
            .design-description
                div
                    p Интерьер
                div
                    span Двери в своем оформлении разделены на четыре секции: центральная горизонтально ориентированная обращена к приборной панели, на ней размещены музыкальные колонки, на задней в свою очередь расположены «парящие» складки подлокотников. Общее цветовое настроение в салоне поддерживается за счет сочетания оранжевой подсветки панели приборов и атмосферной подсветки такого же оттенка.Все сиденья имеют одинаковый оригинальный дизайн с яркой игрой фактур и материалов. Текстиль с эффектом 3D, экокожа и многослойный сетчатый текстиль дополнены подсвеченным декоративным орнаментом.С правой, противоположной, стороны от топливного бака расположена розетка 220V, предназначенная для зарядки любых электрических приборов при работающем автомобиле и закрытых и заблокированных центральным замком дверях. Эта функция еще больше расширяет границы возможностей LADA 4х4 VISION, делая ее приспособленной к любым приключениям.LADA 4х4 VISION смог уравновесить удивительный характер LADA 4x4 и новую генетическую принадлежность автомобилей Марки, умело соединить их с мощным, современным, скульптурно вылепленным дизайном автомобиля и искусно созданным высокотехнологичным внутрисалонным пространством.
    section
        .parallax.vision4
    section
        .photo-gallery
            .container
                p Фотогалерея
                .gallery-img#thumbnials
                    a(href='../../img/jpg/vision1.jpg')
                        img(src='../../img/jpg/vision1.jpg')
                    a(href='../../img/jpg/vision2.jpg')
                        img(src='../../img/jpg/vision2.jpg')
                    a(href='../../img/jpg/vision3.jpg')
                        img(src='../../img/jpg/vision3.jpg')
                    a(href='../../img/jpg/vision4.jpg')
                        img(src='../../img/jpg/vision4.jpg')
                    a(href='../../img/jpg/vision5.jpg')
                        img(src='../../img/jpg/vision5.jpg')
                    a(href='../../img/jpg/vision6.jpg')
                        img(src='../../img/jpg/vision6.jpg')
                    a(href='../../img/jpg/vision7.jpg')
                        img(src='../../img/jpg/vision7.jpg')
                    a(href='../../img/jpg/vision8.jpg')
                        img(src='../../img/jpg/vision8.jpg')
                    a(href='../../img/jpg/vision9.jpg')
                        img(src='../../img/jpg/vision9.jpg')
                    a(href='../../img/jpg/vision10.jpg')
                        img(src='../../img/jpg/vision10.jpg')
                    a(href='../../img/jpg/vision11.jpg')
                        img(src='../../img/jpg/vision11.jpg')
                    a(href='../../img/jpg/vision12.jpg')
                        img(src='../../img/jpg/vision12.jpg')

    section
        .container
            .more-box
                span  Узнайте больше о LADA 4x4 Vision Concept
                a(href='').btn-more
                    p подписаться
                    img(src='../../img/png/more.png')
//- connect only libs js
block libscripts
//- connect only custom js
block scripts
