car-manual.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2b2a29"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/lightgallery.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/uikit-rtl.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="fonts/lato/stylesheet.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Технические характеристики</title>
  </head>
  <body>
    <!--div#preloader
    div#status
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
            path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
    -->
    <header>
      <div class="main-header">
        <div class="container">
          <div class="header"> 
            <div class="left-header"> <a class="logo" href="index.html"></a><a class="get-location" href="#">Как добраться?</a></div>
            <div class="right-header"> 
              <nav> 
                <div class="nav"> <a class="mobile-row-header" href="#">Модельный ряд</a><a class="stocks" href="#">Акции</a><a class="news" href="#">Новости</a><a class="test-drive" href="#">Тест-драйв</a></div>
                <div class="fixed-nav"><a class="mobile-row-header" href="#"> </a><a class="stocks" href="#"> </a><a class="news" href="#"> </a><a class="test-drive" href="#"> </a></div>
              </nav>
              <div><a class="drop-menu"> </a><a class="lang">Eng</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-burger">
        <div class="container">
          <div class="menuGrid">
            <div>
              <h2>Продажа </h2>
              <hr class="hrClass"/><a href="">Корпоративным клиентам</a><a href="">Финансовые услуги</a><a href="">Аксессуары</a>
            </div>
            <div>
              <h2>Сервис </h2>
              <hr class="hrClass"/><a href="">Акции сервиса</a><a href="">Гарантии</a><a href="">Услуги</a><a href="">Запасные части</a><a href="">Стандарты качества</a>
            </div>
            <div>
              <h2>Новости </h2>
              <hr class="hrClass"/><a href="">Пресс релизы</a><a href="">Подписка на рассылку</a>
            </div>
            <div>
              <h2>Компания </h2>
              <hr class="hrClass"/><a href="">О компании</a><a href="">Контакты</a><a href="">Карьера</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-mobile-row"> 
        <div class="container"> 
          <div class="menuGrid mobileRowGrid">
            <div><img src="../../../img/png/head-car1.png"/><a>
                <h2> Granta</h2></a>
              <hr class="hrClass"/><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a>
            </div>
            <div><img src="../../../img/png/head-car2.png"/><a href="vesta.html">
                <h2>Vesta  </h2></a>
              <hr class="hrClass"/><a href="inner.html">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta CNG</a><a href="">Vesta Sport</a>
            </div>
            <div><img src="../../../img/png/head-car3.png"/>
              <h2>XRAY  </h2>
              <hr class="hrClass"/><a href="">XRAY </a><a href="">XRAY Cross</a>
            </div>
            <div><img src="../../../img/png/head-car4.png"/><a href="">
                <h2>Largus  </h2></a>
              <hr class="hrClass"/><a href="">Largus универсал CNG</a><a href="">Largus Cross</a><a href="">Largus Cross CNG</a><a href="">Largus фургон</a><a href="">Largus фургон CNG</a>
            </div>
            <div><img src="../../../img/png/head-car5.png"/><a href="">
                <h2>4x4  </h2></a>
              <hr class="hrClass"/><a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a>
            </div>
            <div><img src="../../../img/png/head-car6.png"/><a href="concept.html">
                <h2>Концепты  </h2></a>
              <hr class="hrClass"/><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a>
            </div>
            <div><img src="../../../img/png/head-car7.png"/><a href="">
                <h2>Коммерческие  </h2></a>
              <hr class="hrClass"/><a href="">на базе Granta</a><a href="">на базе Largus</a><a href="">на базе 4x4</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
    </header>
    <section class="char manual" id="inner-vesta"> 
      <div>
        <div class="inner-page-car">
          <div class="container">
            <div class="inner-banner-content">
              <div class="vesta-car-img">
                <div><img src="../../img/png/vesta-car1.png" alt="" style="display:block"/></div>
              </div>
              <div class="inner-page-car-info">
                <h1>Vesta седан</h1><a href="inner.html">
                  <p>Обзор</p>
                  <div><img src="../../img/png/arrow-two.png" alt=""/></div></a><a href="car-char.html">
                  <p>Характеристики</p>
                  <div><img src="../../img/png/arrow-two.png" alt=""/></div></a>
                <!--a(href='')
                p Фотогалерея
                div
                    img(src='../../img/png/arrow-two.png' alt='')
                --><a href="car-manual.html">
                  <p>Руководство</p>
                  <div><img src="../../img/png/arrow-two.png" alt=""/></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="car-configuration">
          <div class="container">
            <div class="car-configuration-heading">
              <h1>Руководство по эксплуатации Vesta седан</h1>
            </div>
            <div class="manualFlexGrid">
              <div>
                <div class="manual-item"><a class="link" href="#"></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div> 
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div> 
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div> 
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div>
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
              <div> 
                <div class="manual-item"><a class="link" href=""></a><img src="../../img/png/pdf.png" alt=""/>
                  <p>Руководство по эксплуатации LADA Vesta от 31.01.20</p>
                </div>
              </div>
            </div>
            <div class="info-after-table">
              <p>В связи с изменением структуры АО «АВТОВАЗ» и стандартов предприятия с 2013 г. прекращен выпуск документации по техническому обслуживанию и ремонту автомобилей LADA в печатном виде типографским способом, в т.ч. сборники технологических инструкций, трудоемкостей работ, каталоги деталей и сборочных единиц и др. Также прекращена реализация документации сторонним организациям. За прошедший период документация постоянно актуализировалась в связи с изменением конструкции автомобилей, а по результатам опытных работ были пересмотрены многие нормативы трудоемкостей. В настоящее время документация в актуальном состоянии доступна только предприятиям дилерской сети и партнерам АО «АВТОВАЗ» посредством предоставления авторизированного доступа к специализированному интернет-порталу АО «АВТОВАЗ» в рамках отдельных соглашений.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer> 
      <div class="container">
        <div class="footer"> 
          <div class="right-footer">
            <div>
              <h3>Модельный ряд</h3>
              <hr class="hrClass"/>
              <div class="footer-links"><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a></div>
              <div class="footer-links"><a href="">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta Sport</a></div>
              <div class="footer-links">   <a href="">XRAY</a><a href="">XRAY Cross</a></div>
              <div class="footer-links">   <a href="">Largus универсал</a><a href="">Largus Cross</a><a href="">Largus фургон</a></div>
              <div class="footer-links">  <a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a></div>
              <div class="footer-links"><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a></div>
              <div class="footer-links"> <a href="">Концепты </a><a href="">Коммерческие автомобили</a><a href="">Модели. Архив</a></div>
            </div>
            <div> 
              <h3>Разделы сайта </h3>
              <hr class="hrClass"/>
              <div class="footer-links">   <a href="">Новости </a><a href="">Акции</a><a href="">Дилеры </a><a href="">LADA Finance </a><a href="">LADA Leasing</a><a href="">Тест-драйв</a><a href="">Аксессуары LADA </a><a href="">Задать вопрос</a><a href="">Дилеры</a></div>
            </div>
          </div>
          <div class="left-footer"> 
            <p>Клиентская служба LADA</p><a tel="tel:+9965555555">+996 (555) 55-55-55</a>
            <div class="social-icons"> <a class="vk" href="" target="_blank"></a><a class="fb" href="" target="_blank"></a><a class="tw" href="" target="_blank"></a><a class="insta" href="" target="_blank"></a><a class="youtube" href="" target="_blank"></a><a class="ok" href="" target="_blank"></a></div>
            <p>Правовая информация</p>
            <p>* - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 300,
          offset: 100,
          duration: 500,
      });
    </script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/car-manual.pug
extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Технические характеристики"
block content
    section#inner-vesta.char.manual 
        div
            .inner-page-car
                .container
                    .inner-banner-content
                        .vesta-car-img
                            div
                                img(src='../../img/png/vesta-car1.png' alt='' style='display:block')
                        .inner-page-car-info
                            h1 Vesta седан
                           
                            a(href='inner.html')
                                p Обзор
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            a(href='car-char.html')
                                p Характеристики
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            //a(href='')
                                p Фотогалерея
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
                            a(href='car-manual.html')
                                p Руководство
                                div
                                    img(src='../../img/png/arrow-two.png' alt='')
        div
            .car-configuration
                .container
                    .car-configuration-heading
                        h1 Руководство по эксплуатации Vesta седан
                    .manualFlexGrid
                        div
                            .manual-item
                                a.link(href="#")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                        div 
                            .manual-item
                                a.link(href="")
                                img(src='../../img/png/pdf.png' alt='')
                                p Руководство по эксплуатации LADA Vesta от 31.01.20
                    .info-after-table
                        p В связи с изменением структуры АО «АВТОВАЗ» и стандартов предприятия с 2013 г. прекращен выпуск документации по техническому обслуживанию и ремонту автомобилей LADA в печатном виде типографским способом, в т.ч. сборники технологических инструкций, трудоемкостей работ, каталоги деталей и сборочных единиц и др. Также прекращена реализация документации сторонним организациям. За прошедший период документация постоянно актуализировалась в связи с изменением конструкции автомобилей, а по результатам опытных работ были пересмотрены многие нормативы трудоемкостей. В настоящее время документация в актуальном состоянии доступна только предприятиям дилерской сети и партнерам АО «АВТОВАЗ» посредством предоставления авторизированного доступа к специализированному интернет-порталу АО «АВТОВАЗ» в рамках отдельных соглашений.
//- connect only libs js
block libscripts
//- connect only custom js
block scripts
