index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2b2a29"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/lightgallery.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/uikit-rtl.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="fonts/lato/stylesheet.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Lada</title>
  </head>
  <body>
    <!--div#preloader
    div#status
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
            path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
    -->
    <header>
      <div class="main-header">
        <div class="container">
          <div class="header"> 
            <div class="left-header"> <a class="logo" href="index.html"></a><a class="get-location" href="#">Как добраться?</a></div>
            <div class="right-header"> 
              <nav> 
                <div class="nav"> <a class="mobile-row-header" href="#">Модельный ряд</a><a class="stocks" href="#">Акции</a><a class="news" href="#">Новости</a><a class="test-drive" href="#">Тест-драйв</a></div>
                <div class="fixed-nav"><a class="mobile-row-header" href="#"> </a><a class="stocks" href="#"> </a><a class="news" href="#"> </a><a class="test-drive" href="#"> </a></div>
              </nav>
              <div><a class="drop-menu"> </a><a class="lang">Eng</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-burger">
        <div class="container">
          <div class="menuGrid">
            <div>
              <h2>Продажа </h2>
              <hr class="hrClass"/><a href="">Корпоративным клиентам</a><a href="">Финансовые услуги</a><a href="">Аксессуары</a>
            </div>
            <div>
              <h2>Сервис </h2>
              <hr class="hrClass"/><a href="">Акции сервиса</a><a href="">Гарантии</a><a href="">Услуги</a><a href="">Запасные части</a><a href="">Стандарты качества</a>
            </div>
            <div>
              <h2>Новости </h2>
              <hr class="hrClass"/><a href="">Пресс релизы</a><a href="">Подписка на рассылку</a>
            </div>
            <div>
              <h2>Компания </h2>
              <hr class="hrClass"/><a href="">О компании</a><a href="">Контакты</a><a href="">Карьера</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-mobile-row"> 
        <div class="container"> 
          <div class="menuGrid mobileRowGrid">
            <div><img src="../../../img/png/head-car1.png"/><a>
                <h2> Granta</h2></a>
              <hr class="hrClass"/><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a>
            </div>
            <div><img src="../../../img/png/head-car2.png"/><a href="vesta.html">
                <h2>Vesta  </h2></a>
              <hr class="hrClass"/><a href="inner.html">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta CNG</a><a href="">Vesta Sport</a>
            </div>
            <div><img src="../../../img/png/head-car3.png"/>
              <h2>XRAY  </h2>
              <hr class="hrClass"/><a href="">XRAY </a><a href="">XRAY Cross</a>
            </div>
            <div><img src="../../../img/png/head-car4.png"/><a href="">
                <h2>Largus  </h2></a>
              <hr class="hrClass"/><a href="">Largus универсал CNG</a><a href="">Largus Cross</a><a href="">Largus Cross CNG</a><a href="">Largus фургон</a><a href="">Largus фургон CNG</a>
            </div>
            <div><img src="../../../img/png/head-car5.png"/><a href="">
                <h2>4x4  </h2></a>
              <hr class="hrClass"/><a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a>
            </div>
            <div><img src="../../../img/png/head-car6.png"/><a href="concept.html">
                <h2>Концепты  </h2></a>
              <hr class="hrClass"/><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a>
            </div>
            <div><img src="../../../img/png/head-car7.png"/><a href="">
                <h2>Коммерческие  </h2></a>
              <hr class="hrClass"/><a href="">на базе Granta</a><a href="">на базе Largus</a><a href="">на базе 4x4</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
    </header>
    <section id="main">
      <div id="banner-slider">
        <div class="multiple-banner-slider">
          <div class="item-banner"><img src="../../img/jpg/banner/banner1.jpg" alt=""/>
            <div class="info-block">
              <p class="title">Выгодные условия</p><span>на запчасти и услуги сервиса для автомобилей старше 3 лет</span><a class="getMore" href="">
                <p>Узнать больше</p></a>
            </div>
          </div>
          <div class="item-banner"><img src="../../img/jpg/banner/banner2.jpg" alt=""/>
            <div class="info-block">
              <p class="title">Выгодные условия</p><span>на запчасти и услуги сервиса для автомобилей старше 3 лет</span><a class="getMore" href="">
                <p>Узнать больше</p></a>
            </div>
          </div>
          <div class="item-banner"><img src="../../img/jpg/banner/banner3.jpg" alt=""/>
            <div class="info-block">
              <p class="title">Выгодные условия</p><span>на запчасти и услуги сервиса для автомобилей старше 3 лет</span><a class="getMore" href="">
                <p>Узнать больше</p></a>
            </div>
          </div>
          <div class="item-banner"><img src="../../img/jpg/banner/banner4.jpg" alt=""/>
            <div class="info-block">
              <p class="title">Выгодные условия</p><span>на запчасти и услуги сервиса для автомобилей старше 3 лет</span><a class="getMore" href="">
                <p>Узнать больше</p></a>
            </div>
          </div>
          <div class="item-banner"><img src="../../img/jpg/banner/banner5.jpg" alt=""/>
            <div class="info-block">
              <p class="title">Выгодные условия</p><span>на запчасти и услуги сервиса для автомобилей старше 3 лет</span><a class="getMore" href="">
                <p>Узнать больше</p></a>
            </div>
          </div>
        </div>
        <div class="banner-slider-number">
          <div class="slider-controls">
            <button class="slide-m-prev" type="button"></button>
            <div class="slide-m-dots"></div>
            <button class="slide-m-next" type="button"></button>
          </div><span id="banSlideCount1">1</span><span id="banSlideCount2"></span>
        </div>
      </div>
      <div class="main-content">
        <div class="container">
          <h1 class="main-title">Выбери свой автомобиль LADA</h1>
          <div class="choose-car">
            <div><img src="../img/png/choose1.png"/>
              <p class="choose-car-title">Vesta седан <br> от 566 900 руб.</p><a>Пройти тест-драйв</a><a>Купить в кредит</a>
            </div>
            <div><img src="../img/png/choose2.png"/>
              <p class="choose-car-title">Vesta седан <br> от 566 900 руб.</p><a>Пройти тест-драйв</a><a>Купить в кредит</a>
            </div>
            <div><img src="../img/png/choose3.png"/>
              <p class="choose-car-title">Vesta седан <br> от 566 900 руб.</p><a>Пройти тест-драйв</a><a>Купить в кредит</a>
            </div>
            <div><img src="../img/png/choose4.png"/>
              <p class="choose-car-title">Vesta седан <br> от 566 900 руб.</p><a>Пройти тест-драйв</a><a>Купить в кредит</a>
            </div>
          </div>
          <!--.choose-car-2
          div
          
              div
                  img(src='../../img/png/icon1.png')
                  a(href='').getMore
                      p Максимальная выгода
              .text Выбери свой автомобиль LADA по доступной цене
          div
              div
                  img(src='../../img/png/icon2.png')
                  a(href='').getMore
                      p Максимальная выгода
              .text Выбери свой автомобиль LADA по доступной цене
          div
              div
                  img(src='../../img/png/icon3.png')
                  a(href='').getMore
                      p Максимальная выгода
              .text Выбери свой автомобиль LADA по доступной цене
          -->
        </div>
      </div>
      <div class="offers-box">
        <div class="container">
          <h1 class="main-title">Акции и специальные предложения</h1>
          <div class="special-offers-slider">
            <div class="multiple-items"><a class="pop"><img src="../../img/jpg/offer.jpg"/></a><a class="pop"><img src="../../img/jpg/offer1.jpg"/></a><a class="pop"><img src="../../img/jpg/offer2.jpg"/></a><a class="pop"><img src="../../img/jpg/offer3.jpg"/></a><a class="pop"><img src="../../img/jpg/offer4.jpg"/></a><a class="pop"><img src="../../img/jpg/offer5.jpg"/></a></div>
            <div class="slider-number"><span id="offerSlide">1</span><span id="offerSlide2"></span></div>
          </div>
        </div>
      </div>
      <div class="news-blog">
        <div class="container">
          <h1 class="main-title">Новости и события</h1>
          <div class="news">
            <div>
              <p>05.02.2020</p>
              <hr class="orange-order"/><span>LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...</span><a href="">читать далее</a>
            </div>
            <div>
              <p>05.02.2020</p>
              <hr class="orange-order"/><span>LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...</span><a href="">читать далее</a>
            </div>
            <div>
              <p>05.02.2020</p>
              <hr class="orange-order"/><span>LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...</span><a href="">читать далее</a>
            </div>
            <div>
              <p>05.02.2020</p>
              <hr class="orange-order"/><span>LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...</span><a href="">читать далее</a>
            </div>
          </div>
          <div class="blog">
            <h1>все новости</h1>
            <div><img src="../../img/png/icon4.png"/><a class="getMore" href="">
                <p>Подписаться на рассылку</p></a></div>
          </div>
        </div>
      </div>
    </section>
    <footer> 
      <div class="container">
        <div class="footer"> 
          <div class="right-footer">
            <div>
              <h3>Модельный ряд</h3>
              <hr class="hrClass"/>
              <div class="footer-links"><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a></div>
              <div class="footer-links"><a href="">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta Sport</a></div>
              <div class="footer-links">   <a href="">XRAY</a><a href="">XRAY Cross</a></div>
              <div class="footer-links">   <a href="">Largus универсал</a><a href="">Largus Cross</a><a href="">Largus фургон</a></div>
              <div class="footer-links">  <a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a></div>
              <div class="footer-links"><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a></div>
              <div class="footer-links"> <a href="">Концепты </a><a href="">Коммерческие автомобили</a><a href="">Модели. Архив</a></div>
            </div>
            <div> 
              <h3>Разделы сайта </h3>
              <hr class="hrClass"/>
              <div class="footer-links">   <a href="">Новости </a><a href="">Акции</a><a href="">Дилеры </a><a href="">LADA Finance </a><a href="">LADA Leasing</a><a href="">Тест-драйв</a><a href="">Аксессуары LADA </a><a href="">Задать вопрос</a><a href="">Дилеры</a></div>
            </div>
          </div>
          <div class="left-footer"> 
            <p>Клиентская служба LADA</p><a tel="tel:+9965555555">+996 (555) 55-55-55</a>
            <div class="social-icons"> <a class="vk" href="" target="_blank"></a><a class="fb" href="" target="_blank"></a><a class="tw" href="" target="_blank"></a><a class="insta" href="" target="_blank"></a><a class="youtube" href="" target="_blank"></a><a class="ok" href="" target="_blank"></a></div>
            <p>Правовая информация</p>
            <p>* - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 300,
          offset: 100,
          duration: 500,
      });
    </script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/index.pug
extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Lada"
block content
    section#main
        #banner-slider
            .multiple-banner-slider
                .item-banner
                    img(src="../../img/jpg/banner/banner1.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner2.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner3.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner4.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
                .item-banner
                    img(src="../../img/jpg/banner/banner5.jpg" alt=""  )
                    .info-block
                        p.title Выгодные условия
                        span на запчасти и услуги сервиса для автомобилей старше 3 лет
                        a(href='').getMore
                            p Узнать больше
            .banner-slider-number
                .slider-controls
                    button.slide-m-prev(type='button')
                    .slide-m-dots
                    button.slide-m-next(type='button')
                span#banSlideCount1 1
                span#banSlideCount2
        .main-content
            .container
                h1.main-title Выбери свой автомобиль LADA
                .choose-car
                    div
                        img(src='../img/png/choose1.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит
                    div
                        img(src='../img/png/choose2.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит
                    div
                        img(src='../img/png/choose3.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит
                    div
                        img(src='../img/png/choose4.png')
                        p.choose-car-title Vesta седан <br> от 566 900 руб.
                        a Пройти тест-драйв
                        a Купить в кредит


                //.choose-car-2
                    div

                        div
                            img(src='../../img/png/icon1.png')
                            a(href='').getMore
                                p Максимальная выгода
                        .text Выбери свой автомобиль LADA по доступной цене
                    div
                        div
                            img(src='../../img/png/icon2.png')
                            a(href='').getMore
                                p Максимальная выгода
                        .text Выбери свой автомобиль LADA по доступной цене
                    div
                        div
                            img(src='../../img/png/icon3.png')
                            a(href='').getMore
                                p Максимальная выгода
                        .text Выбери свой автомобиль LADA по доступной цене
        .offers-box
            .container
                h1.main-title Акции и специальные предложения
                .special-offers-slider
                    .multiple-items
                        a.pop
                            img(src='../../img/jpg/offer.jpg')
                        a.pop
                            img(src='../../img/jpg/offer1.jpg')
                        a.pop
                            img(src='../../img/jpg/offer2.jpg')
                        a.pop
                            img(src='../../img/jpg/offer3.jpg')
                        a.pop
                            img(src='../../img/jpg/offer4.jpg')
                        a.pop
                            img(src='../../img/jpg/offer5.jpg')
                    .slider-number
                        span#offerSlide 1
                        span#offerSlide2


        .news-blog
            .container
                h1.main-title Новости и события
                .news
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                    div
                        p 05.02.2020
                        hr.orange-order
                        span LADA подвела итоги первого месяца 2020 года: в январе продажи составили 21 790 автомобилей, что на 1,2% выше, чем результат продаж в...
                        a(href='') читать далее
                .blog
                    h1 все новости
                    div
                        img(src='../../img/png/icon4.png')
                        a(href='').getMore
                            p Подписаться на рассылку

//- connect only libs js
block libscripts
//- connect only custom js
block scripts
