modelVesta.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2b2a29"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/lightgallery.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/uikit-rtl.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="fonts/lato/stylesheet.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Model Vesta</title>
  </head>
  <body>
    <!--div#preloader
    div#status
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
            path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
    -->
    <header>
      <div class="main-header">
        <div class="container">
          <div class="header"> 
            <div class="left-header"> <a class="logo" href="index.html"></a><a class="get-location" href="#">Как добраться?</a></div>
            <div class="right-header"> 
              <nav> 
                <div class="nav"> <a class="mobile-row-header" href="#">Модельный ряд</a><a class="stocks" href="#">Акции</a><a class="news" href="#">Новости</a><a class="test-drive" href="#">Тест-драйв</a></div>
                <div class="fixed-nav"><a class="mobile-row-header" href="#"> </a><a class="stocks" href="#"> </a><a class="news" href="#"> </a><a class="test-drive" href="#"> </a></div>
              </nav>
              <div><a class="drop-menu"> </a><a class="lang">Eng</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-burger">
        <div class="container">
          <div class="menuGrid">
            <div>
              <h2>Продажа </h2>
              <hr class="hrClass"/><a href="">Корпоративным клиентам</a><a href="">Финансовые услуги</a><a href="">Аксессуары</a>
            </div>
            <div>
              <h2>Сервис </h2>
              <hr class="hrClass"/><a href="">Акции сервиса</a><a href="">Гарантии</a><a href="">Услуги</a><a href="">Запасные части</a><a href="">Стандарты качества</a>
            </div>
            <div>
              <h2>Новости </h2>
              <hr class="hrClass"/><a href="">Пресс релизы</a><a href="">Подписка на рассылку</a>
            </div>
            <div>
              <h2>Компания </h2>
              <hr class="hrClass"/><a href="">О компании</a><a href="">Контакты</a><a href="">Карьера</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-mobile-row"> 
        <div class="container"> 
          <div class="menuGrid mobileRowGrid">
            <div><img src="../../../img/png/head-car1.png"/><a>
                <h2> Granta</h2></a>
              <hr class="hrClass"/><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a>
            </div>
            <div><img src="../../../img/png/head-car2.png"/><a href="vesta.html">
                <h2>Vesta  </h2></a>
              <hr class="hrClass"/><a href="inner.html">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta CNG</a><a href="">Vesta Sport</a>
            </div>
            <div><img src="../../../img/png/head-car3.png"/>
              <h2>XRAY  </h2>
              <hr class="hrClass"/><a href="">XRAY </a><a href="">XRAY Cross</a>
            </div>
            <div><img src="../../../img/png/head-car4.png"/><a href="">
                <h2>Largus  </h2></a>
              <hr class="hrClass"/><a href="">Largus универсал CNG</a><a href="">Largus Cross</a><a href="">Largus Cross CNG</a><a href="">Largus фургон</a><a href="">Largus фургон CNG</a>
            </div>
            <div><img src="../../../img/png/head-car5.png"/><a href="">
                <h2>4x4  </h2></a>
              <hr class="hrClass"/><a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a>
            </div>
            <div><img src="../../../img/png/head-car6.png"/><a href="concept.html">
                <h2>Концепты  </h2></a>
              <hr class="hrClass"/><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a>
            </div>
            <div><img src="../../../img/png/head-car7.png"/><a href="">
                <h2>Коммерческие  </h2></a>
              <hr class="hrClass"/><a href="">на базе Granta</a><a href="">на базе Largus</a><a href="">на базе 4x4</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
    </header>
    <div class="model">
      <div class="banner">
        <!--img(src="../../img/jpg/banner.jpg")-->
      </div>
      <div class="content">
        <div class="container">
          <p class="vistaTitle">Обновлённая LADA Vesta</p>
          <p class="vistaText">Седан LADA Vesta вместителен и удобен, при этом особое внимание уделено акустическому комфорту. Конструкция шасси объединяет плавность хода, проходимость и азартную управляемость. LADA Vesta отлично приспособлена для сложных климатических и дорожных условий: внешние панели кузова оцинкованы, силовой агрегат прикрыт мощной защитой, а на порогах и днище нанесено прочное антигравийное покрытие.</p>
          <p class="vistaSubTitle">Классический стиль, оптимальный выбор</p>
          <div class="info">
            <div class="info-content"></div>
          </div>
          <div class="vista-car-block-2">
            <div class="second-div"><img src="../../img/jpg/model/model1.2.jpg"/></div>
            <div class="first-div"><img src="../../img/jpg/model/model1.3.jpg"/></div>
          </div>
          <section><img src="../../img/jpg/big-car.jpg"/>
            <div class="vista-content">
              <div>
                <h1>LADA Vesta</h1><span class="vista-subTitle">Совершенство – в графике и характере</span>
              </div>
              <div>
                <p>Стремительная и яркая. LADA Vesta воплощает современную ДНК дизайна и комфорта LADA. Vesta – один из самых вместительных автомобилей в своём классе. Конструкция LADA Vesta обеспечивает высокий акустический комфорт и плавность хода, отличную проходимость и азартную управляемость. Совсем скоро встречайте в салонах официальных дилеров LADA.</p>
              </div>
            </div>
          </section>
          <div class="vista-car-block">
            <div class="first-div"><img src="../../img/jpg/content3.jpg"/>
              <div class="child">
                <p>Антенна в форме акульего плавника</p>
              </div>
            </div>
            <div class="second-div"><img src="../../img/jpg/content4.jpg"/>
              <div class="child">
                <p>Бескаркасные стеклоочистители – работают эффективно и не склонны к обмерзанию.</p>
              </div>
            </div>
          </div>
          <div class="vista-car-block-2"><img src="../../img/jpg/content5.jpg"/></div>
          <div class="model-vista-content">
            <div><span class="vista-subTitle">Самый просторный в классе салон</span></div>
            <div>
              <p>Исключительно просторный салон позволяет разместиться с максимальным удобством на передних креслах и на заднем диване – этому способствует высокий уровень эргономики сидений, которые обладают выверенной формой и специально подобранным наполнителем. Водительское кресло оснащено регулировкой высоты и поясничной поддержки. В сочетании с регулировкой руля по высоте и вылету это помогает подобрать удобную посадку, исходя из индивидуальных потребностей.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="model-banner"><img src="../../img/jpg/model/model1.4.jpg"/></div>
      <div class="content no-padding">
        <div class="container">
          <div class="model-vista-content">
            <div><span class="vista-subTitle">Мультимедийная система</span></div>
            <div>
              <p>Мультимедийная система с 7-дюймовым экраном поможет создать нужное настроение в поездке. А навигатор сделает это путешествие проще, быстрее, эффективней. В мультимедийную систему входит камера заднего вида с динамическими линиями – вместе с парктроником это обеспечивает уверенное маневрирование в тесноте городов.</p>
            </div>
          </div>
          <div class="info">
            <div class="info-content model"></div>
          </div>
          <div class="vista-car-block-2 model">
            <div class="second-div"><img src="../../img/jpg/content1.jpg"/>
              <div class="child">
                <p>Бесступенчатая автоматическая коробка передач японской фирмы Jatco</p>
              </div>
            </div>
            <div class="first-div"><img src="../../img/jpg/content6.jpg"/>
              <div class="child">
                <p>Теплая опция для российских зим – обогрев руля. LADA Vesta согревает!</p>
              </div>
            </div>
          </div>
          <div class="vista-car-block-2 imgModel"><img src="../../img/jpg/model/model1.6.jpg"/></div>
          <div class="model-vista-content">
            <div><span class="vista-subTitle">Трансформация багажного отсека</span></div>
            <div>
              <p>480-литровый багажник – это обязательное качество семейного седана LADA Vesta. Увеличить этот объем можно сложив спинку сиденья – как полностью, так и по частям, в пропорции 60/40.</p>
            </div>
          </div>
          <div class="model-banner"><img src="../../img/jpg/model/model1.7.jpg"/></div>
          <section><img src="../../img/jpg/model/model1.8.jpg"/>
            <div class="vista-content">
              <div><span class="vista-subTitle">Высокий уровень защиты</span></div>
              <div>
                <p>LADA Vesta – это высокий уровень защиты. Автомобиль обеспечивает отличную обзорность и уверенную проходимость, электроника постоянно мониторит дорожную ситуацию, кузов с применением сталей повышенной прочности надежно защищает водителя и пассажиров.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <section>
        <div class="parallax model-1"></div>
      </section>
      <div class="content no-padding">
        <div class="container">
          <div class="model-vista-content">
            <div><span class="vista-subTitle">Двигатели</span></div>
            <div>
              <p>LADA Vesta – это возможность выбрать силовой агрегат в соответствии с индивидуальным стилем вождения и потребностями в динамике. 1,6л + «механика» - экономичный вариант. 1,8л + «механика» - солидный запас тяги! 1,6л + автоматическая трансмиссия – плавное движение и уверенный разгон!</p>
            </div>
          </div>
          <div class="enginerGrid">
            <div>
              <div class="enginer-item"><img src="../../img/jpg/model/eng1.jpg"/>
                <div class="enginer-info">
                  <p>Рабочий объем</p>
                  <p>1596 см</p>
                  <p>Мощность</p>
                  <p>106 л.с. (78 кВт) при 5800 об/мин</p>
                  <p>Момент крутящий</p>
                  <p>148 Нм при 4200 об/мин</p>
                  <p>Нормы токсичности</p>
                  <p>ЕВРО-5</p>
                </div>
              </div>
            </div>
            <div>
              <div class="enginer-item"><img src="../../img/jpg/model/eng1.jpg"/>
                <div class="enginer-info">
                  <p>Рабочий объем</p>
                  <p>1774 см</p>
                  <p>Мощность</p>
                  <p>122 л.с. (90 кВт) при 5900 об/мин</p>
                  <p>Момент крутящий</p>
                  <p>170 Нм при 3700 об/мин</p>
                  <p>Нормы токсичности</p>
                  <p>ЕВРО-5</p>
                </div>
              </div>
            </div>
            <div>
              <div class="enginer-item"><img src="../../img/jpg/model/eng1.jpg"/>
                <div class="enginer-info">
                  <p>Рабочий объем</p>
                  <p>1598 см</p>
                  <p>Мощность</p>
                  <p>113 л.с. (83 кВт) при 5500 об/мин</p>
                  <p>Момент крутящий</p>
                  <p>152 Нм при 4000 об/мин</p>
                  <p>Нормы токсичности</p>
                  <p>ЕВРО-5</p>
                </div>
              </div>
            </div>
          </div>
          <div class="model-car-tab">
            <div class="vesta-model-img">
              <div>
                <input id="tab1" hidden="" type="radio" checked="" name="tab"/><img src="../../img/png/vesta-car1.png" alt=""/>
              </div>
              <div>
                <input id="tab2" hidden="" type="radio" name="tab"/><img src="../../img/png/vesta-car2.png" alt=""/>
              </div>
              <div>
                <input id="tab3" hidden="" type="radio" name="tab"/><img src="../../img/png/vesta-car3.png" alt=""/>
              </div>
              <div>
                <input id="tab4" hidden="" type="radio" name="tab"/><img src="../../img/png/vesta-car4.png" alt=""/>
              </div>
              <div>
                <input id="tab5" hidden="" type="radio" name="tab"/><img src="../../img/png/vesta-car5.png" alt=""/>
              </div>
            </div>
            <div class="color-car-all">
              <label class="label-color1" for="tab1" style="background-color: #ffffff "></label>
              <label class="label-color2" for="tab2" style="background-color: #860E02 "></label>
              <label class="label-color3" for="tab3" style="background-color: #3F3A32 "></label>
              <label class="label-color4" for="tab4" style="background-color: #E8E5CD "></label>
              <label class="label-color5" for="tab5" style="background-color: #1449BF "></label>
            </div>
            <div class="vesta-model-info">
              <div class="vistaSubTitle">Цветовая гамма</div>
              <!--.text-info-->
              <!--    div-->
              <!--        input#tab1(hidden='' type='radio' checked='' name='tab')-->
              <!--        h5 Платина-->
              <!--        p Классический серебристый цвет, в котором выразительно проявляется рельефная поверхность кузова-->
              <!--.text-info-->
              <!--    div-->
              <!--        input#tab2(hidden='' type='radio' name='tab')-->
              <!--        h5 Платина-->
              <!--        p Классический серебристый цвет, в котором выразительно проявляется рельефная поверхность кузова-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer> 
      <div class="container">
        <div class="footer"> 
          <div class="right-footer">
            <div>
              <h3>Модельный ряд</h3>
              <hr class="hrClass"/>
              <div class="footer-links"><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a></div>
              <div class="footer-links"><a href="">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta Sport</a></div>
              <div class="footer-links">   <a href="">XRAY</a><a href="">XRAY Cross</a></div>
              <div class="footer-links">   <a href="">Largus универсал</a><a href="">Largus Cross</a><a href="">Largus фургон</a></div>
              <div class="footer-links">  <a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a></div>
              <div class="footer-links"><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a></div>
              <div class="footer-links"> <a href="">Концепты </a><a href="">Коммерческие автомобили</a><a href="">Модели. Архив</a></div>
            </div>
            <div> 
              <h3>Разделы сайта </h3>
              <hr class="hrClass"/>
              <div class="footer-links">   <a href="">Новости </a><a href="">Акции</a><a href="">Дилеры </a><a href="">LADA Finance </a><a href="">LADA Leasing</a><a href="">Тест-драйв</a><a href="">Аксессуары LADA </a><a href="">Задать вопрос</a><a href="">Дилеры</a></div>
            </div>
          </div>
          <div class="left-footer"> 
            <p>Клиентская служба LADA</p><a tel="tel:+9965555555">+996 (555) 55-55-55</a>
            <div class="social-icons"> <a class="vk" href="" target="_blank"></a><a class="fb" href="" target="_blank"></a><a class="tw" href="" target="_blank"></a><a class="insta" href="" target="_blank"></a><a class="youtube" href="" target="_blank"></a><a class="ok" href="" target="_blank"></a></div>
            <p>Правовая информация</p>
            <p>* - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 300,
          offset: 100,
          duration: 500,
      });
    </script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/modelVesta.pug
extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Model Vesta"
block content
    .model
        .banner
            //img(src="../../img/jpg/banner.jpg")
        .content
            .container
                p.vistaTitle Обновлённая LADA Vesta
                p.vistaText Седан LADA Vesta вместителен и удобен, при этом особое внимание уделено акустическому комфорту. Конструкция шасси объединяет плавность хода, проходимость и азартную управляемость. LADA Vesta отлично приспособлена для сложных климатических и дорожных условий: внешние панели кузова оцинкованы, силовой агрегат прикрыт мощной защитой, а на порогах и днище нанесено прочное антигравийное покрытие.
                p.vistaSubTitle Классический стиль, оптимальный выбор
                .info
                    .info-content
                .vista-car-block-2
                    .second-div
                        img(src='../../img/jpg/model/model1.2.jpg')
                    .first-div
                        img(src='../../img/jpg/model/model1.3.jpg')
                section
                    img(src="../../img/jpg/big-car.jpg")
                    .vista-content
                        div
                            h1 LADA Vesta
                            span.vista-subTitle Совершенство – в графике и характере
                        div
                            p Стремительная и яркая. LADA Vesta воплощает современную ДНК дизайна и комфорта LADA. Vesta – один из самых вместительных автомобилей в своём классе. Конструкция LADA Vesta обеспечивает высокий акустический комфорт и плавность хода, отличную проходимость и азартную управляемость. Совсем скоро встречайте в салонах официальных дилеров LADA.
                .vista-car-block
                    .first-div
                        img(src='../../img/jpg/content3.jpg')
                        .child
                            p Антенна в форме акульего плавника
                    .second-div
                        img(src='../../img/jpg/content4.jpg')
                        .child
                            p Бескаркасные стеклоочистители – работают эффективно и не склонны к обмерзанию.
                .vista-car-block-2
                    img(src='../../img/jpg/content5.jpg')
                .model-vista-content
                    div
                        span.vista-subTitle Самый просторный в классе салон
                    div
                        p Исключительно просторный салон позволяет разместиться с максимальным удобством на передних креслах и на заднем диване – этому способствует высокий уровень эргономики сидений, которые обладают выверенной формой и специально подобранным наполнителем. Водительское кресло оснащено регулировкой высоты и поясничной поддержки. В сочетании с регулировкой руля по высоте и вылету это помогает подобрать удобную посадку, исходя из индивидуальных потребностей.
        .model-banner
            img(src='../../img/jpg/model/model1.4.jpg')
        .content.no-padding
            .container
                .model-vista-content
                    div
                        span.vista-subTitle Мультимедийная система
                    div
                        p Мультимедийная система с 7-дюймовым экраном поможет создать нужное настроение в поездке. А навигатор сделает это путешествие проще, быстрее, эффективней. В мультимедийную систему входит камера заднего вида с динамическими линиями – вместе с парктроником это обеспечивает уверенное маневрирование в тесноте городов.
                .info
                    .info-content.model
                .vista-car-block-2.model
                    .second-div
                        img(src='../../img/jpg/content1.jpg')
                        .child
                            p Бесступенчатая автоматическая коробка передач японской фирмы Jatco
                    .first-div
                        img(src='../../img/jpg/content6.jpg')
                        .child
                            p Теплая опция для российских зим – обогрев руля. LADA Vesta согревает!
                .vista-car-block-2.imgModel
                    img(src='../../img/jpg/model/model1.6.jpg')
                .model-vista-content
                    div
                        span.vista-subTitle Трансформация багажного отсека
                    div
                        p 480-литровый багажник – это обязательное качество семейного седана LADA Vesta. Увеличить этот объем можно сложив спинку сиденья – как полностью, так и по частям, в пропорции 60/40.
                .model-banner
                    img(src='../../img/jpg/model/model1.7.jpg')
                section
                    img(src="../../img/jpg/model/model1.8.jpg")
                    .vista-content
                        div
                            span.vista-subTitle Высокий уровень защиты
                        div
                            p LADA Vesta – это высокий уровень защиты. Автомобиль обеспечивает отличную обзорность и уверенную проходимость, электроника постоянно мониторит дорожную ситуацию, кузов с применением сталей повышенной прочности надежно защищает водителя и пассажиров.

        section
            .parallax.model-1
        .content.no-padding
            .container
                .model-vista-content
                    div
                        span.vista-subTitle Двигатели
                    div
                        p LADA Vesta – это возможность выбрать силовой агрегат в соответствии с индивидуальным стилем вождения и потребностями в динамике. 1,6л + «механика» - экономичный вариант. 1,8л + «механика» - солидный запас тяги! 1,6л + автоматическая трансмиссия – плавное движение и уверенный разгон!
                .enginerGrid
                    div
                        .enginer-item
                            img(src='../../img/jpg/model/eng1.jpg')
                            .enginer-info
                                p Рабочий объем
                                p 1596 см
                                p Мощность
                                p 106 л.с. (78 кВт) при 5800 об/мин
                                p Момент крутящий
                                p 148 Нм при 4200 об/мин
                                p Нормы токсичности
                                p ЕВРО-5
                    div
                        .enginer-item
                            img(src='../../img/jpg/model/eng1.jpg')
                            .enginer-info
                                p Рабочий объем
                                p 1774 см
                                p Мощность
                                p 122 л.с. (90 кВт) при 5900 об/мин
                                p Момент крутящий
                                p 170 Нм при 3700 об/мин
                                p Нормы токсичности
                                p ЕВРО-5

                    div
                        .enginer-item
                            img(src='../../img/jpg/model/eng1.jpg')
                            .enginer-info
                                p Рабочий объем
                                p 1598 см
                                p Мощность
                                p 113 л.с. (83 кВт) при 5500 об/мин
                                p Момент крутящий
                                p 152 Нм при 4000 об/мин
                                p Нормы токсичности
                                p ЕВРО-5
                .model-car-tab
                    .vesta-model-img
                        div
                            input#tab1(hidden='' type='radio' checked='' name='tab')
                            img(src='../../img/png/vesta-car1.png' alt='')
                        div
                            input#tab2(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car2.png' alt='')
                        div
                            input#tab3(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car3.png' alt='')
                        div
                            input#tab4(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car4.png' alt='')
                        div
                            input#tab5(hidden='' type='radio' name='tab')
                            img(src='../../img/png/vesta-car5.png' alt='')
                    .color-car-all
                        label.label-color1(for='tab1' style='background-color: #ffffff ')
                        label.label-color2(for='tab2' style='background-color: #860E02 ')
                        label.label-color3(for='tab3' style='background-color: #3F3A32 ')
                        label.label-color4(for='tab4' style='background-color: #E8E5CD ')
                        label.label-color5(for='tab5' style='background-color: #1449BF ')
                    .vesta-model-info
                        .vistaSubTitle Цветовая гамма
                        //.text-info
                        //    div
                        //        input#tab1(hidden='' type='radio' checked='' name='tab')
                        //        h5 Платина
                        //        p Классический серебристый цвет, в котором выразительно проявляется рельефная поверхность кузова
                        //.text-info
                        //    div
                        //        input#tab2(hidden='' type='radio' name='tab')
                        //        h5 Платина
                        //        p Классический серебристый цвет, в котором выразительно проявляется рельефная поверхность кузова



//- connect only libs js
block libscripts
//- connect only custom js
block scripts
