#source/pug/vesta.pug
extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="Vesta"
block content
    .banner
        //img(src="../../img/jpg/banner.jpg")
    .content
        .container
            p.vistaTitle Обновлённая Vesta
            p.vistaText Просторная и комфортная, многофункциональная и безопасная - настоящий семейный автомобиль! Сегодня LADA Vesta обновляется, чтобы стать еще удобней и еще более стильной. Все автомобили семейства Vesta 2020 модельного года получили бесступенчатую трансмиссию и ряд опций, делающих каждую поездку приятней. Особенно с наступлением зимы!
            p.vistaSubTitle Еще более удобная и стильная!
            .flexGrid
                div
                    img(src="../../img/jpg/car1.jpg")
                    p.carName Vesta
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car2.jpg")
                    p.carName Vesta Cross
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car3.jpg")
                    p.carName Vesta SW
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car4.jpg")
                    p.carName Vesta SW Cross
                    p.carBtn  Перейти к модели
                div
                    img(src="../../img/jpg/car5.jpg")
                    p.carName Vesta Sport
                    p.carBtn  Перейти к модели
            .info
                .info-content
                    .info-text
                        p.info-text-title Автоматическая коробка передач
                        p.info-text-description Бесступенчатая автоматическая коробка передач японской фирмы Jatco – это комфортное движение, уверенное ускорение и хорошая топливная экономичность.
                    .media-info-text
                        p.info-text-title Автоматическая коробка передач
                        p.info-text-description Бесступенчатая автоматическая коробка передач японской фирмы Jatco – это комфортное движение, уверенное ускорение и хорошая топливная экономичность.
                .info-content
                    .info-text
                        p.info-text-title Cиденья Exclusive
                        p.info-text-description Стильная обивка сидений сочетает ткань и высококачественную износостойкую экококожу.
                    .media-info-text
                        p.info-text-title Cиденья Exclusive
                        p.info-text-description Стильная обивка сидений сочетает ткань и высококачественную износостойкую экококожу.

            section
                img(src="../../img/jpg/big-car.jpg")
                .vista-content
                    div
                        h1 LADA Vesta
                        span.vista-subTitle Совершенство – в графике и характере
                    div
                        p Стремительная и яркая. LADA Vesta воплощает современную ДНК дизайна и комфорта LADA. Vesta – один из самых вместительных автомобилей в своём классе. Конструкция LADA Vesta обеспечивает высокий акустический комфорт и плавность хода, отличную проходимость и азартную управляемость. Совсем скоро встречайте в салонах официальных дилеров LADA.
            .vista-car-block
                .first-div
                    img(src='../../img/jpg/content3.jpg')
                    .child
                        p Антенна в форме акульего плавника
                .second-div
                    img(src='../../img/jpg/content4.jpg')
                    .child
                        p Бескаркасные стеклоочистители – работают эффективно и не склонны к обмерзанию.
            .vista-big-car-block
                img(src='../../img/jpg/content5.jpg')
                .child
                    p Зеркала, которые можно сложить автоматически – с пульта на ключе зажигания или с кнопки на двери водителя.
            .vista-car-block-2
                .second-div
                    img(src='../../img/jpg/content6.jpg')
                    .child
                        p Теплая опция для российских зим – обогрев руля. <br> LADA Vesta согревает!
                .first-div
                    img(src='../../img/jpg/content7.jpg')
                    .child
                        p Функциональные подстаканники – надежно и удобно для размещения напитков и мелких вещей
            .vista-feature
                p.vista-feature-title Технические характеристики
                .vista-feature-table
                    ul
                        li.first
                        li.second.orange 1.6 л 16-кл. (113 л.с.), АТ
                        li.orange Кузов
                        li
                        li Объем багажного отделения, л
                        li 480
                        li.orange Двигатель
                        li
                        li  Максимальная мощность, кВт (л.с.) / об. мин.
                        li 83 (113) / 5500
                        li Рекомендуемое топливо
                        li бензин 92
                        li.orange Динамические характеристики
                        li
                        li Максимальная скорость, км/ч
                        li 175
                        li Время разгона 0-100 км/ч, с
                        li 11,3
                        li.orange Расход топлива
                        li
                        li Смешанный цикл, л/100 км
                        li 7.1
                        li.orange Трансмиссия
                        li
                        li Тип трансмиссии
                        li АТ

                span.little-info Данные по расходу топлива определены в стандартизованных условиях с применением специального измерительного оборудования, в соответствии с требованиями ГОСТ Р41.101–99 (Правила ЕЭК ООН №101). Служат для сравнения автомобилей различных автопроизводителей. Эксплуатационной нормой не являются.
            .vista-box
                a.orange-btn   Пройти тест-драйв
                p.text   Запишитесь на тест-драйв и ощутите все преимущества обновленной LADA Vesta!
            .vista-video
                iframe(src="https://www.youtube.com/embed/SaZ2qnL8wWM?hl=ru&showinfo=0&autohide=1&autoplay=0&&loop=1&playlist=SaZ2qnL8wWM&controls=0&modestbranding=0&start=0&fs=0&wmode=transparent&rel=0" frameborder="0" allowfullscreen="allowfullscreen")
//- connect only libs js
block libscripts
//- connect only custom js
block scripts

vesta.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2b2a29"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/lightgallery.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/uikit-rtl.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="fonts/lato/stylesheet.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Vesta</title>
  </head>
  <body>
    <!--div#preloader
    div#status
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
            path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
    -->
    <header>
      <div class="main-header">
        <div class="container">
          <div class="header"> 
            <div class="left-header"> <a class="logo" href="index.html"></a><a class="get-location" href="#">Как добраться?</a></div>
            <div class="right-header"> 
              <nav> 
                <div class="nav"> <a class="mobile-row-header" href="#">Модельный ряд</a><a class="stocks" href="#">Акции</a><a class="news" href="#">Новости</a><a class="test-drive" href="#">Тест-драйв</a></div>
                <div class="fixed-nav"><a class="mobile-row-header" href="#"> </a><a class="stocks" href="#"> </a><a class="news" href="#"> </a><a class="test-drive" href="#"> </a></div>
              </nav>
              <div><a class="drop-menu"> </a><a class="lang">Eng</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-burger">
        <div class="container">
          <div class="menuGrid">
            <div>
              <h2>Продажа </h2>
              <hr class="hrClass"/><a href="">Корпоративным клиентам</a><a href="">Финансовые услуги</a><a href="">Аксессуары</a>
            </div>
            <div>
              <h2>Сервис </h2>
              <hr class="hrClass"/><a href="">Акции сервиса</a><a href="">Гарантии</a><a href="">Услуги</a><a href="">Запасные части</a><a href="">Стандарты качества</a>
            </div>
            <div>
              <h2>Новости </h2>
              <hr class="hrClass"/><a href="">Пресс релизы</a><a href="">Подписка на рассылку</a>
            </div>
            <div>
              <h2>Компания </h2>
              <hr class="hrClass"/><a href="">О компании</a><a href="">Контакты</a><a href="">Карьера</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-mobile-row"> 
        <div class="container"> 
          <div class="menuGrid mobileRowGrid">
            <div><img src="../../../img/png/head-car1.png"/><a>
                <h2> Granta</h2></a>
              <hr class="hrClass"/><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a>
            </div>
            <div><img src="../../../img/png/head-car2.png"/><a href="vesta.html">
                <h2>Vesta  </h2></a>
              <hr class="hrClass"/><a href="inner.html">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta CNG</a><a href="">Vesta Sport</a>
            </div>
            <div><img src="../../../img/png/head-car3.png"/>
              <h2>XRAY  </h2>
              <hr class="hrClass"/><a href="">XRAY </a><a href="">XRAY Cross</a>
            </div>
            <div><img src="../../../img/png/head-car4.png"/><a href="">
                <h2>Largus  </h2></a>
              <hr class="hrClass"/><a href="">Largus универсал CNG</a><a href="">Largus Cross</a><a href="">Largus Cross CNG</a><a href="">Largus фургон</a><a href="">Largus фургон CNG</a>
            </div>
            <div><img src="../../../img/png/head-car5.png"/><a href="">
                <h2>4x4  </h2></a>
              <hr class="hrClass"/><a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a>
            </div>
            <div><img src="../../../img/png/head-car6.png"/><a href="concept.html">
                <h2>Концепты  </h2></a>
              <hr class="hrClass"/><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a>
            </div>
            <div><img src="../../../img/png/head-car7.png"/><a href="">
                <h2>Коммерческие  </h2></a>
              <hr class="hrClass"/><a href="">на базе Granta</a><a href="">на базе Largus</a><a href="">на базе 4x4</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
    </header>
    <div class="banner">
      <!--img(src="../../img/jpg/banner.jpg")-->
    </div>
    <div class="content">
      <div class="container">
        <p class="vistaTitle">Обновлённая Vesta</p>
        <p class="vistaText">Просторная и комфортная, многофункциональная и безопасная - настоящий семейный автомобиль! Сегодня LADA Vesta обновляется, чтобы стать еще удобней и еще более стильной. Все автомобили семейства Vesta 2020 модельного года получили бесступенчатую трансмиссию и ряд опций, делающих каждую поездку приятней. Особенно с наступлением зимы!</p>
        <p class="vistaSubTitle">Еще более удобная и стильная!</p>
        <div class="flexGrid">
          <div><img src="../../img/jpg/car1.jpg"/>
            <p class="carName">Vesta</p>
            <p class="carBtn"> Перейти к модели</p>
          </div>
          <div><img src="../../img/jpg/car2.jpg"/>
            <p class="carName">Vesta Cross</p>
            <p class="carBtn"> Перейти к модели</p>
          </div>
          <div><img src="../../img/jpg/car3.jpg"/>
            <p class="carName">Vesta SW</p>
            <p class="carBtn"> Перейти к модели</p>
          </div>
          <div><img src="../../img/jpg/car4.jpg"/>
            <p class="carName">Vesta SW Cross</p>
            <p class="carBtn"> Перейти к модели</p>
          </div>
          <div><img src="../../img/jpg/car5.jpg"/>
            <p class="carName">Vesta Sport</p>
            <p class="carBtn"> Перейти к модели</p>
          </div>
        </div>
        <div class="info">
          <div class="info-content">
            <div class="info-text">
              <p class="info-text-title">Автоматическая коробка передач</p>
              <p class="info-text-description">Бесступенчатая автоматическая коробка передач японской фирмы Jatco – это комфортное движение, уверенное ускорение и хорошая топливная экономичность.</p>
            </div>
            <div class="media-info-text">
              <p class="info-text-title">Автоматическая коробка передач</p>
              <p class="info-text-description">Бесступенчатая автоматическая коробка передач японской фирмы Jatco – это комфортное движение, уверенное ускорение и хорошая топливная экономичность.</p>
            </div>
          </div>
          <div class="info-content">
            <div class="info-text">
              <p class="info-text-title">Cиденья Exclusive</p>
              <p class="info-text-description">Стильная обивка сидений сочетает ткань и высококачественную износостойкую экококожу.</p>
            </div>
            <div class="media-info-text">
              <p class="info-text-title">Cиденья Exclusive</p>
              <p class="info-text-description">Стильная обивка сидений сочетает ткань и высококачественную износостойкую экококожу.</p>
            </div>
          </div>
        </div>
        <section><img src="../../img/jpg/big-car.jpg"/>
          <div class="vista-content">
            <div>
              <h1>LADA Vesta</h1><span class="vista-subTitle">Совершенство – в графике и характере</span>
            </div>
            <div>
              <p>Стремительная и яркая. LADA Vesta воплощает современную ДНК дизайна и комфорта LADA. Vesta – один из самых вместительных автомобилей в своём классе. Конструкция LADA Vesta обеспечивает высокий акустический комфорт и плавность хода, отличную проходимость и азартную управляемость. Совсем скоро встречайте в салонах официальных дилеров LADA.</p>
            </div>
          </div>
        </section>
        <div class="vista-car-block">
          <div class="first-div"><img src="../../img/jpg/content3.jpg"/>
            <div class="child">
              <p>Антенна в форме акульего плавника</p>
            </div>
          </div>
          <div class="second-div"><img src="../../img/jpg/content4.jpg"/>
            <div class="child">
              <p>Бескаркасные стеклоочистители – работают эффективно и не склонны к обмерзанию.</p>
            </div>
          </div>
        </div>
        <div class="vista-big-car-block"><img src="../../img/jpg/content5.jpg"/>
          <div class="child">
            <p>Зеркала, которые можно сложить автоматически – с пульта на ключе зажигания или с кнопки на двери водителя.</p>
          </div>
        </div>
        <div class="vista-car-block-2">
          <div class="second-div"><img src="../../img/jpg/content6.jpg"/>
            <div class="child">
              <p>Теплая опция для российских зим – обогрев руля. <br> LADA Vesta согревает!</p>
            </div>
          </div>
          <div class="first-div"><img src="../../img/jpg/content7.jpg"/>
            <div class="child">
              <p>Функциональные подстаканники – надежно и удобно для размещения напитков и мелких вещей</p>
            </div>
          </div>
        </div>
        <div class="vista-feature">
          <p class="vista-feature-title">Технические характеристики</p>
          <div class="vista-feature-table">
            <ul>
              <li class="first"></li>
              <li class="second orange">1.6 л 16-кл. (113 л.с.), АТ</li>
              <li class="orange">Кузов</li>
              <li></li>
              <li>Объем багажного отделения, л</li>
              <li>480</li>
              <li class="orange">Двигатель</li>
              <li></li>
              <li> Максимальная мощность, кВт (л.с.) / об. мин.</li>
              <li>83 (113) / 5500</li>
              <li>Рекомендуемое топливо</li>
              <li>бензин 92</li>
              <li class="orange">Динамические характеристики</li>
              <li></li>
              <li>Максимальная скорость, км/ч</li>
              <li>175</li>
              <li>Время разгона 0-100 км/ч, с</li>
              <li>11,3</li>
              <li class="orange">Расход топлива</li>
              <li></li>
              <li>Смешанный цикл, л/100 км</li>
              <li>7.1</li>
              <li class="orange">Трансмиссия</li>
              <li></li>
              <li>Тип трансмиссии</li>
              <li>АТ</li>
            </ul>
          </div><span class="little-info">Данные по расходу топлива определены в стандартизованных условиях с применением специального измерительного оборудования, в соответствии с требованиями ГОСТ Р41.101–99 (Правила ЕЭК ООН №101). Служат для сравнения автомобилей различных автопроизводителей. Эксплуатационной нормой не являются.</span>
        </div>
        <div class="vista-box"><a class="orange-btn">  Пройти тест-драйв</a>
          <p class="text">  Запишитесь на тест-драйв и ощутите все преимущества обновленной LADA Vesta!</p>
        </div>
        <div class="vista-video">
          <iframe src="https://www.youtube.com/embed/SaZ2qnL8wWM?hl=ru&amp;showinfo=0&amp;autohide=1&amp;autoplay=0&amp;&amp;loop=1&amp;playlist=SaZ2qnL8wWM&amp;controls=0&amp;modestbranding=0&amp;start=0&amp;fs=0&amp;wmode=transparent&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </div>
    <footer> 
      <div class="container">
        <div class="footer"> 
          <div class="right-footer">
            <div>
              <h3>Модельный ряд</h3>
              <hr class="hrClass"/>
              <div class="footer-links"><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a></div>
              <div class="footer-links"><a href="">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta Sport</a></div>
              <div class="footer-links">   <a href="">XRAY</a><a href="">XRAY Cross</a></div>
              <div class="footer-links">   <a href="">Largus универсал</a><a href="">Largus Cross</a><a href="">Largus фургон</a></div>
              <div class="footer-links">  <a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a></div>
              <div class="footer-links"><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a></div>
              <div class="footer-links"> <a href="">Концепты </a><a href="">Коммерческие автомобили</a><a href="">Модели. Архив</a></div>
            </div>
            <div> 
              <h3>Разделы сайта </h3>
              <hr class="hrClass"/>
              <div class="footer-links">   <a href="">Новости </a><a href="">Акции</a><a href="">Дилеры </a><a href="">LADA Finance </a><a href="">LADA Leasing</a><a href="">Тест-драйв</a><a href="">Аксессуары LADA </a><a href="">Задать вопрос</a><a href="">Дилеры</a></div>
            </div>
          </div>
          <div class="left-footer"> 
            <p>Клиентская служба LADA</p><a tel="tel:+9965555555">+996 (555) 55-55-55</a>
            <div class="social-icons"> <a class="vk" href="" target="_blank"></a><a class="fb" href="" target="_blank"></a><a class="tw" href="" target="_blank"></a><a class="insta" href="" target="_blank"></a><a class="youtube" href="" target="_blank"></a><a class="ok" href="" target="_blank"></a></div>
            <p>Правовая информация</p>
            <p>* - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 300,
          offset: 100,
          duration: 500,
      });
    </script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
