xcode.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2b2a29"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/lightgallery.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/uikit-rtl.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="fonts/lato/stylesheet.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>X-CODE VESTA</title>
  </head>
  <body>
    <!--div#preloader
    div#status
        svg(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' style='margin: auto; display: block;' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid')
            path(d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='#1d3f72' stroke='none' transform='rotate(65.9434 50 51)')
                animateTransform(attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' keyTimes='0;1' values='0 50 51;360 50 51')
    -->
    <header>
      <div class="main-header">
        <div class="container">
          <div class="header"> 
            <div class="left-header"> <a class="logo" href="index.html"></a><a class="get-location" href="#">Как добраться?</a></div>
            <div class="right-header"> 
              <nav> 
                <div class="nav"> <a class="mobile-row-header" href="#">Модельный ряд</a><a class="stocks" href="#">Акции</a><a class="news" href="#">Новости</a><a class="test-drive" href="#">Тест-драйв</a></div>
                <div class="fixed-nav"><a class="mobile-row-header" href="#"> </a><a class="stocks" href="#"> </a><a class="news" href="#"> </a><a class="test-drive" href="#"> </a></div>
              </nav>
              <div><a class="drop-menu"> </a><a class="lang">Eng</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-menu-burger">
        <div class="container">
          <div class="menuGrid">
            <div>
              <h2>Продажа </h2>
              <hr class="hrClass"/><a href="">Корпоративным клиентам</a><a href="">Финансовые услуги</a><a href="">Аксессуары</a>
            </div>
            <div>
              <h2>Сервис </h2>
              <hr class="hrClass"/><a href="">Акции сервиса</a><a href="">Гарантии</a><a href="">Услуги</a><a href="">Запасные части</a><a href="">Стандарты качества</a>
            </div>
            <div>
              <h2>Новости </h2>
              <hr class="hrClass"/><a href="">Пресс релизы</a><a href="">Подписка на рассылку</a>
            </div>
            <div>
              <h2>Компания </h2>
              <hr class="hrClass"/><a href="">О компании</a><a href="">Контакты</a><a href="">Карьера</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
      <div class="dropdown-menu dropdown-mobile-row"> 
        <div class="container"> 
          <div class="menuGrid mobileRowGrid">
            <div><img src="../../../img/png/head-car1.png"/><a>
                <h2> Granta</h2></a>
              <hr class="hrClass"/><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a>
            </div>
            <div><img src="../../../img/png/head-car2.png"/><a href="vesta.html">
                <h2>Vesta  </h2></a>
              <hr class="hrClass"/><a href="inner.html">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta CNG</a><a href="">Vesta Sport</a>
            </div>
            <div><img src="../../../img/png/head-car3.png"/>
              <h2>XRAY  </h2>
              <hr class="hrClass"/><a href="">XRAY </a><a href="">XRAY Cross</a>
            </div>
            <div><img src="../../../img/png/head-car4.png"/><a href="">
                <h2>Largus  </h2></a>
              <hr class="hrClass"/><a href="">Largus универсал CNG</a><a href="">Largus Cross</a><a href="">Largus Cross CNG</a><a href="">Largus фургон</a><a href="">Largus фургон CNG</a>
            </div>
            <div><img src="../../../img/png/head-car5.png"/><a href="">
                <h2>4x4  </h2></a>
              <hr class="hrClass"/><a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a>
            </div>
            <div><img src="../../../img/png/head-car6.png"/><a href="concept.html">
                <h2>Концепты  </h2></a>
              <hr class="hrClass"/><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a>
            </div>
            <div><img src="../../../img/png/head-car7.png"/><a href="">
                <h2>Коммерческие  </h2></a>
              <hr class="hrClass"/><a href="">на базе Granta</a><a href="">на базе Largus</a><a href="">на базе 4x4</a>
            </div>
          </div>
          <div class="dropdown-menu-close"> <a>Закрыть меню </a></div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="xray-content">
          <p>XCODE CONCEPT</p><img src="../../img/jpg/xcode.jpg"/>
        </div>
        <div class="design-description">
          <div>
            <p>ДИЗАЙН</p>
          </div>
          <div><span>«Спортивная» версия LADA XRAY отличается от серийной модели более агрессивным дизайном интерьера и экстерьера. Гоночный характер кроссовера подчеркивают изящные красные акценты на кузове. Цветом выделен боковой рельеф автомобиля, бампера и гайки крепления легкосплавных колес эксклюзивного дизайна. Спортивный красный гармонично вписан и в отделку салона: цвет появился в лаконичной отстрочке рулевого колеса и на стрелках приборной панели. В ногах водителя и пассажира, в обивке дверей и рычаге КПП использована подсветка с мягким красным свечением. <br>  Дополнительные элементы стиля и комфорта: передний подлокотник и оригинальные велюровые коврики, комбинированная отделка сидений, кожаная обивка рычага ручного тормоза, специальные накладки на порогах дверных проемов, черная обивка крыши, стоек лобового стекла и противосолнечных козырьков. <br> Кроме того, XRAY Sport Concept получил характерный для автоспорта заниженный клиренс, агрессивный обвес и доработанную решетку радиатора.</span>
            <div class="statment"><img src="../../img/png/author.png"/><span>«Концепт полный эмоций, концепт, который выводит наш дизайн на новый уровень выразительности». <br><br> Стив Маттин</span></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="parallax xcode1"></div>
    </section>
    <section>
      <div class="container">
        <div class="design-description">
          <div>
            <p>Комфорт и инновации</p>
          </div>
          <div><span>Концепция автомобиля LADA XCODE Concept потенциально предусматривает ряд перспективных решений, в том числе полноприводную трансмиссию и турбомотор. Кроме того, в концептуальном кроссовере продемонстрированы и новые активные системы помощи водителю: автоматическое экстренное торможение перед препятствием; автоматическая параллельная и перпендикулярная парковка; активный круиз-контроль с функцией поддержания расстояния до впередиидущего автомобиля; дистанционное управление автомобилем. <br> XCODE Concept прорабатывается с учетом применения перспективной телематической платформы LADA Connect. Она должна объединять автомобиль, устройства пользователя, информационно-развлекательные и навигационные сервисы, а так же активные системы помощи водителю в единую слаженную систему, которая управляется с помощью приложения LADA Connect в смартфоне пользователя.</span></div>
        </div>
      </div>
      <div class="utubeVideo">
        <iframe src="https://www.youtube.com/embed/Zn_kg1icW8o?hl=ru&amp;showinfo=0&amp;autohide=1&amp;autoplay=0&amp;&amp;loop=1&amp;playlist=Zn_kg1icW8o&amp;controls=0&amp;modestbranding=0&amp;start=0&amp;fs=0&amp;wmode=transparent&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <div class="photo-gallery">
        <div class="container">
          <p>Фотогалерея</p>
          <div class="gallery-img" id="thumbnials"><a href="../../img/jpg/xcode1.jpg"><img src="../../img/jpg/xcode1.jpg"/></a><a href="../../img/jpg/xcode2.jpg"><img src="../../img/jpg/xcode2.jpg"/></a><a href="../../img/jpg/xcode3.jpg"><img src="../../img/jpg/xcode3.jpg"/></a><a href="../../img/jpg/xcode4.jpg"><img src="../../img/jpg/xcode4.jpg"/></a><a href="../../img/jpg/xcode5.jpg"><img src="../../img/jpg/xcode5.jpg"/></a><a href="../../img/jpg/xcode6.jpg"><img src="../../img/jpg/xcode6.jpg"/></a><a href="../../img/jpg/xcod7.jpg"><img src="../../img/jpg/xcode7.jpg"/></a><a href="../../img/jpg/xcode8.jpg"><img src="../../img/jpg/xcode8.jpg"/></a></div>
        </div>
      </div>
    </section>
    <section>
      <div class="parallax xcode2"></div>
    </section>
    <section>
      <div class="container">
        <div class="more-box"><span> Узнайте больше о LADA XCODE Concept</span>
          <div class="btn-more">
            <p>подписаться</p><img src="../../img/png/more.png"/>
          </div>
        </div>
      </div>
    </section>
    <footer> 
      <div class="container">
        <div class="footer"> 
          <div class="right-footer">
            <div>
              <h3>Модельный ряд</h3>
              <hr class="hrClass"/>
              <div class="footer-links"><a href="">Granta седан</a><a href="">Granta лифтбек</a><a href="">Granta хэтчбек</a><a href="">Granta универсал</a><a href="">Granta Cross</a><a href="">Granta учебная</a><a href="">Granta Drive Active</a></div>
              <div class="footer-links"><a href="">Vesta седан</a><a href="">Vesta Cross</a><a href="">Vesta SW</a><a href="">Vesta SW Cross</a><a href="">Vesta Sport</a></div>
              <div class="footer-links">   <a href="">XRAY</a><a href="">XRAY Cross</a></div>
              <div class="footer-links">   <a href="">Largus универсал</a><a href="">Largus Cross</a><a href="">Largus фургон</a></div>
              <div class="footer-links">  <a href="">4x4 3 дв.</a><a href="">4x4 Urban 3 дв.</a><a href="">4x4 5 дв.</a><a href="">4x4 Urban 5 дв.</a><a href="">4x4 Bronto </a></div>
              <div class="footer-links"><a href="4-4.html">4x4 Vision</a><a href="xcode.html">XCODE</a><a href="xray.html">XRAY Sport</a></div>
              <div class="footer-links"> <a href="">Концепты </a><a href="">Коммерческие автомобили</a><a href="">Модели. Архив</a></div>
            </div>
            <div> 
              <h3>Разделы сайта </h3>
              <hr class="hrClass"/>
              <div class="footer-links">   <a href="">Новости </a><a href="">Акции</a><a href="">Дилеры </a><a href="">LADA Finance </a><a href="">LADA Leasing</a><a href="">Тест-драйв</a><a href="">Аксессуары LADA </a><a href="">Задать вопрос</a><a href="">Дилеры</a></div>
            </div>
          </div>
          <div class="left-footer"> 
            <p>Клиентская служба LADA</p><a tel="tel:+9965555555">+996 (555) 55-55-55</a>
            <div class="social-icons"> <a class="vk" href="" target="_blank"></a><a class="fb" href="" target="_blank"></a><a class="tw" href="" target="_blank"></a><a class="insta" href="" target="_blank"></a><a class="youtube" href="" target="_blank"></a><a class="ok" href="" target="_blank"></a></div>
            <p>Правовая информация</p>
            <p>* - Рекомендованные розничные цены указаны с учетом максимальной выгоды по действующим акциям. Информация о технических характеристиках, составе комплектаций, цветовой гамме и рекомендованных розничных ценах, опубликованных на официальном сайте АО ''АВТОВАЗ'' (www.lada.ru), носит справочный характер и ни при каких обстоятельствах не является публичной офертой, определяемой положениями Статьи 437 ч.2 Гражданского кодекса Российской Федерации. Для получения подробной информации обращайтесь к официальным дилерам АО ''АВТОВАЗ''. </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 300,
          offset: 100,
          duration: 500,
      });
    </script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

#source/pug/xcode.pug
extends ./base/base
//- connect only libs css
block libcss
//- connect only custom css
block css
block title
    title="X-CODE VESTA"
block content
    section
        .container
            .xray-content
                p XCODE CONCEPT
                img(src='../../img/jpg/xcode.jpg')
            .design-description
                div
                    p ДИЗАЙН
                div
                    span «Спортивная» версия LADA XRAY отличается от серийной модели более агрессивным дизайном интерьера и экстерьера. Гоночный характер кроссовера подчеркивают изящные красные акценты на кузове. Цветом выделен боковой рельеф автомобиля, бампера и гайки крепления легкосплавных колес эксклюзивного дизайна. Спортивный красный гармонично вписан и в отделку салона: цвет появился в лаконичной отстрочке рулевого колеса и на стрелках приборной панели. В ногах водителя и пассажира, в обивке дверей и рычаге КПП использована подсветка с мягким красным свечением. <br>  Дополнительные элементы стиля и комфорта: передний подлокотник и оригинальные велюровые коврики, комбинированная отделка сидений, кожаная обивка рычага ручного тормоза, специальные накладки на порогах дверных проемов, черная обивка крыши, стоек лобового стекла и противосолнечных козырьков. <br> Кроме того, XRAY Sport Concept получил характерный для автоспорта заниженный клиренс, агрессивный обвес и доработанную решетку радиатора.
                    .statment
                        img(src='../../img/png/author.png')
                        span «Концепт полный эмоций, концепт, который выводит наш дизайн на новый уровень выразительности». <br><br> Стив Маттин
    section
        .parallax.xcode1
    section
        .container
            .design-description
                div
                    p Комфорт и инновации
                div
                    span Концепция автомобиля LADA XCODE Concept потенциально предусматривает ряд перспективных решений, в том числе полноприводную трансмиссию и турбомотор. Кроме того, в концептуальном кроссовере продемонстрированы и новые активные системы помощи водителю: автоматическое экстренное торможение перед препятствием; автоматическая параллельная и перпендикулярная парковка; активный круиз-контроль с функцией поддержания расстояния до впередиидущего автомобиля; дистанционное управление автомобилем. <br> XCODE Concept прорабатывается с учетом применения перспективной телематической платформы LADA Connect. Она должна объединять автомобиль, устройства пользователя, информационно-развлекательные и навигационные сервисы, а так же активные системы помощи водителю в единую слаженную систему, которая управляется с помощью приложения LADA Connect в смартфоне пользователя.
        .utubeVideo
            iframe(src="https://www.youtube.com/embed/Zn_kg1icW8o?hl=ru&showinfo=0&autohide=1&autoplay=0&&loop=1&playlist=Zn_kg1icW8o&controls=0&modestbranding=0&start=0&fs=0&wmode=transparent&rel=0"     frameborder="0" allowfullscreen="allowfullscreen")
        .photo-gallery
            .container
                p Фотогалерея
                .gallery-img#thumbnials
                    a(href='../../img/jpg/xcode1.jpg')
                        img(src='../../img/jpg/xcode1.jpg')
                    a(href='../../img/jpg/xcode2.jpg')
                        img(src='../../img/jpg/xcode2.jpg')
                    a(href='../../img/jpg/xcode3.jpg')
                        img(src='../../img/jpg/xcode3.jpg')
                    a(href='../../img/jpg/xcode4.jpg')
                        img(src='../../img/jpg/xcode4.jpg')
                    a(href='../../img/jpg/xcode5.jpg')
                        img(src='../../img/jpg/xcode5.jpg')
                    a(href='../../img/jpg/xcode6.jpg')
                        img(src='../../img/jpg/xcode6.jpg')
                    a(href='../../img/jpg/xcod7.jpg')
                        img(src='../../img/jpg/xcode7.jpg')
                    a(href='../../img/jpg/xcode8.jpg')
                        img(src='../../img/jpg/xcode8.jpg')
    section
        .parallax.xcode2
    section
        .container
            .more-box
                span  Узнайте больше о LADA XCODE Concept
                .btn-more
                    p подписаться
                    img(src='../../img/png/more.png')


//- connect only libs js
block libscripts
//- connect only custom js
block scripts
